* {
  margin: 0px;
  padding: 0px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.caja-panda {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

/* aca va el css para la pagina 2 */

.sweets-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

